.example-modal {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;

	.modal-container {
		display: flex;
		flex-direction: column;
		width: 20rem;
		background-color: white;
		border-radius: 15px;
		-webkit-box-shadow: 4px 3px 15px -4px rgba(0, 0, 0, 0.75);
		-moz-box-shadow: 4px 3px 15px -4px rgba(0, 0, 0, 0.75);
		box-shadow: 4px 3px 15px -4px rgba(0, 0, 0, 0.75);
		.modal-title {
			display: block;
			text-align: center;
			padding: 1rem 3rem;
		}
		.modal-body {
			display: block;
			text-align: left;
			padding: 1rem 3rem;
		}
		.modal-footer {
			display: block;
			text-align: center;
			padding: 1rem 3rem;
			button {
				padding: 1rem;
				border: 1px solid black;
			}
		}
	}
}
